.meal-image{
    
    height: 100px;
    width: 100px;
    text-align: center;
    
    img{
        max-height: 100px;
        max-width: 100px;
    }
}

mat-card {

    margin: 3px;

    div:first-child{
        margin-right: 10px;
    }

    div{
        display: inline-block;
        vertical-align: top;
    
        h3{
            margin: 0 !important;
            width: 100%;
        }
    }

    .price{
        color: orangered;
    }
}